@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}

@font-face {
    font-family: Intro;
    src: url(../fonts/Intro/Intro.otf);
}

@font-face {
    font-family: IntroInline;
    src: url(../fonts/Intro/IntroInline.otf);
}

@font-face {
    font-family: RexBold;
    src: url(../fonts/rex/RexBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: RexBoldInline;
    src: url(../fonts/rex/RexBoldInline.otf);
    font-weight: bold;
}

@font-face {
    font-family: RexLight;
    src: url(../fonts/rex/RexLight.otf);
}
@font-face {
    font-family: Bricks;
    src: url(../../fonts/Bricks.otf);
}
@font-face {
    font-family: VarogeSaroNoest;
    src: url("../../fonts/FTY Varoge Saro Noest/FTY Varoge Saro Noest Cyr/FTY Varoge Saro Noest NCV.ttf");
}
@font-face {
    font-family: IntroCondBlack;
    src: url("../../fonts/Intro Condensed/Intro Cond Black Free.otf");
}
@font-face {
    font-family: IntroCondLight;
    src: url("../../fonts/Intro Condensed/Intro Cond Light Free.otf");
}
@font-face {
    font-family: LetoOneDefect;
    src: url("../../fonts/Intro Cond Light Free/Glen Jan - LetoOneDefect.otf");
}
@font-face {
    font-family: UniSansHeavy;
    src: url("../../fonts/Uni_Sans/Uni_Sans/Uni Sans Heavy.otf");
}

@font-face {
    font-family: UniSansThin;
    src: url("../../fonts/Uni_Sans/Uni_Sans/Uni Sans Thin.otf");
}
@font-face {
    font-family: VollkornMedium;
    src: url("../../fonts/Vollkorn/TTF/Vollkorn-Medium.ttf");
}
@font-face {
    font-family: VollkornSemibold;
    src: url("../../fonts/Vollkorn/TTF/Vollkorn-Semibold.ttf");
}
*/

/* IDEAL!!! */

@font-face {
    font-family: GerberaBlack;
    src: url("../fonts/Gerbera/Gerbera Black.otf");
}

@font-face {
    font-family: GerberaBold;
    src: url("../fonts/Gerbera/Gerbera Bold.otf");
}

@font-face {
    font-family: GerberaLight;
    src: url("../fonts/Gerbera/Gerbera Light.otf");
}

@font-face {
    font-family: GerberaMedium;
    src: url("../fonts/Gerbera/Gerbera Medium.otf");
}

@font-face {
    font-family: Gerbera;
    src: url("../fonts/Gerbera/Gerbera.otf");
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}


/* Links */

a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.navbar-inverse {
    padding-bottom: 25px;
    padding-top: 25px;
}

.navbar-inverse {
    background-color: #1abc9c;
    border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #222222;
}

.navbar-brand {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.progress-bar-theme {
    background-color: #1abc9c;
}


/* Helpers */

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pt {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

#footer {
    background-color: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer p {
    color: white;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
}


/* Blog Date*/

bd {
    font-size: 12px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 700;
}


/* Blog Author*/

ba {
    font-size: 12px;
    text-transform: uppercase;
}


/* Blog Quote */

.bq {
    font-size: 22px;
    padding-top: 30px;
}


/* Blog Tags */

bt {
    font-size: 12px;
}


/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */


/* Effects also are controled by hover.zoom.js */

.zoom {
    display: block;
    position: relative;
    overflow: hidden;
    background: transparent url(../img/loader.gif) no-repeat center;
}

.zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
}

.zoom2 {
    opacity: 1;
}

.zoom2:hover {
    opacity: 0.5;
}


/* glyphicon Configuration */

.glyphicon {
    //font-size: 40px;
    color: #1abc9c;
}


/* My styles */

.table-wrapper {
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
}

.add-new-card {
    position: absolute;
    top: 30px;
    left: 160px;
    z-index: 900;
}

#footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    height: 60px;
}

#example .glyphicon {
    font-size: 10px;
}

.ed-wrapper {
    height: 250px;
}

.ed-wrapper .left-word,
.ed-wrapper .right-word {
    height: 100%;
    width: 50%;
    float: left;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 55px;
}


/* Backbone */

body {
    font-family: Gerbera;
}

.user-pic {
    height: 65px;
    width: 65px;
    border-radius: 70px;
    position: absolute;
    top: -9px;
    left: 25px;
    background: url("../img/userpic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid #b9b9b9;
}

.empty-avatar {
    background: url("../img/blank_avatar.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-container {
    margin-bottom: 70px;
}

.session-wrapper {
    margin: 0 15%;
}

.card {
    height: 300px;
    border: 5px solid #9c9c9c;
    margin-top: 20px;
}

.card .left {
    width: 50%;
    float: left;
    font-size: 30px;
    text-align: center;
    padding-top: 110px;
}

.card .right {
    width: 50%;
    float: right;
    font-size: 30px;
    text-align: center;
    padding-top: 110px;
}

.buttons-wrapper {
    text-align: right;
    margin-top: 20px;
    position: relative;
}

.buttons-wrapper .btn {
    margin: 0 5px;
}

.resultStatus {
    width: 100%;
    margin-top: 20px;
}

.resultStatus .counter {
    height: 30px;
    //border: 2px solid #9c9c9c;
    background-color: #fe8888;
    text-align: center;
    cursor: pointer;
    width: 10%;
}

.resultStatus .counter.success {
    background-color: #1abc9c;
}

.resultStatus .counter.current {
    border: 4px solid gray;
}

.number-cards {
    position: absolute;
    font-size: 22px;
    padding-top: 5px;
}

.info-tooltip {
    position: absolute;
    font-size: 16px;
    left: 160px;
    top: 12px;
    cursor: pointer;
}


/* Choose category block */

.category-wrapper {
    width: 300px;
    margin-top: 20px;
    float: left;
}

.add-category {
    margin-top: 45px;
    margin-left: 10px;
}


/* Data Ðµable block */

input[type="search"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: middle;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid #adadad;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.category-label {
    background: #1abc9c;
    color: white;
    border-radius: 15px;
    padding: 0 10px;
    cursor: pointer;
}

.category-label.inactive {
    background-color: #e5e5e5;
}

.settings-table-wrapper {
    margin: auto 25%;
    margin-top: 40px;
}

.settings-table-wrapper h4 {
    text-align: center;
    margin-bottom: 15px;
}

.settings-table tr {
    height: 50px;
}

.settings-table tr td:last-child {
    text-align: right;
}

.settings-table tr td a {
    text-align: left;
}

.start-session {
    float: right;
}

.hiddenVisibility {
    visibility: hidden;
}

#status {
    top: -25px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
}


/* Register form */

.sign-in-form::selection {
    background-color: #b5e2e7;
}

.sign-in-form::-moz-selection {
    background-color: #8ac7d8;
}

.sign-in-form.container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.sign-in-form #logbox,
.sign-in-form #regbox {
    padding: 10px;
    margin: 15px auto 0;
    width: 340px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.enter-btn {
    width: 135px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.register-btn {
    margin-bottom: 5px;
    margin-top: 10px;
}

.sign-in-form h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
}

.sign-in-form h1,
.sign-in-form input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.sign-in-form .input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.sign-in-form .input.invalid {
    border: 1px solid red;
}

.sign-in-form .input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
}

.sign-in-form .input:invalid {
    box-shadow: none;
}

.sign-in-form .pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.sign-in-form .inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #3CC;
    border: none;
    -webkit-box-shadow: 0 5px 0 #2CADAD;
    -moz-box-shadow: 0 5px 0 #2CADAD;
    box-shadow: 0 5px 0 #2CADAD;
}

.sign-in-form .inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2CADAD;
    -moz-box-shadow: 0 3px 0 #2CADAD;
    box-shadow: 0 3px 0 #2CADAD;
}

.sign-in-form .inputButton:active {
    top: 5px;
    box-shadow: none;
}

.sign-in-form .inputButton:focus {
    outline: none;
}
